<header class="container text-white mx-auto px-4 flex justify-between items-center py-4 w-full ">
  <h2 class=" font-semibold text-[35px]">
    {{ 'KENZAP' | link_to: routes.root_url }}
  </h2>

  <div class="md:hidden" id="open-sidebar">
    <button class="text-white focus:outline-none" id="open-sidebar">
      {% render 'icon-hamburger' %}
    </button>
  </div>

  {% render 'sidebar-menu', menu: section.settings.menu %}

  <div class="  gap-[30px] items-center text-[20px] md:flex hidden">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class=" gap-[10px] items-center hidden md:flex">
    {% if shop.customer_accounts_enabled %}
      <shopify-account menu="{{ section.settings.customer_account_menu }}">
        {{ 'icon-account.svg' | inline_asset_content | replace: '<svg', '<svg class="w-8 h-8"' }}
      </shopify-account>
    {% endif %}

    <a href="{{ routes.cart_url }}" class="w-8 h-8">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:labels.customer_account_menu",
      "default": "customer-account-main-menu"
    }
  ],
  "presets": [{ "name": "header" }]
}
{% endschema %}
