<section class="py-24 relative min-h-screen flex items-center w-full z-10 overflow-hidden bg-black">
  <img
    src="{{ 'banner.png' | asset_url }}"
    alt="E-bike"
    width="full"
    height="full"
    class="absolute w-full h-full inset-0 object-cover z-0"
  >
  <div class="container mx-auto px-6 relative z-10">
    <div class="flex flex-col md:flex-row items-center gap-10 justify-between">
      <div class="md:w-1/2  mt-[50px]">
        <h1 class="text-[20px] md:text-[50px]  font-black text-white leading-11 mb-6 font-sans">
          {{ section.settings.heading }}
        </h1>
        <p class="text-white text-lg mb-10 max-w-md leading-relaxed font-sans">
          {{ section.settings.subtext }}
        </p>
        <div class="flex gap-6">
          <button class="bg-[#3fc380] hover:bg-[#36ad72] px-8 py-3 text-white font-semibold transition shadow-lg hover:shadow-2xl rounded-[10px]  duration-300">
            {{ section.settings.button_label }}
          </button>
        </div>
      </div>
      <div class="md:w-1/2 flex flex-col items-center">
        <img src="{{ 'image-hero.png' | asset_url }}" alt="E-bike" width="100%" height="100%" class="">
        <div
          class="
            w-full max-w-lg
            mt-8 lg:mt-0
            lg:absolute lg:-bottom-12
            bg-white/80 backdrop-blur-lg
            rounded-2xl
            shadow-[0_20px_60px_rgba(0,0,0,0.25)]
            px-6 py-6 md:px-8
            grid grid-cols-1 sm:grid-cols-3
            gap-6
            border border-white/20
          "
        >
          <div class="text-center">
            <div class="text-lg md:text-xl font-bold text-emerald-500">3,845,304</div>
            <div class="text-xs md:text-sm text-gray-600">App Users</div>
          </div>

          <div class="text-center sm:border-x border-gray-200 sm:px-4">
            <div class="text-lg md:text-xl font-bold text-emerald-500">212,304</div>
            <div class="text-xs md:text-sm text-gray-600">Clients</div>
          </div>

          <div class="text-center">
            <div class="text-lg md:text-xl font-bold text-emerald-500">$12,812,304</div>
            <div class="text-xs md:text-sm text-gray-600">Revenue</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero Ebike",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Tiêu đề chính",
      "default": "Build and Sell Modern Shopify Themes"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Mô tả ngắn",
      "default": "Create and sell stunning Shopify themes built with modern technologies like Liquid, TailwindCSS, and Vite. Fast, responsive, and easy to customize for your online store."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Chữ trên nút",
      "default": "Get Started"
    }
  ],
  "presets": [
    {
      "name": "Hero Ebike"
    }
  ]
}
{% endschema %}
